
th {
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid white;
}

td {
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid white; 
  user-select: none;
}

tr {
  background:   wheat;
  border: 1px solid white;
}

table{
  width: calc(100vw - 50px);
  margin: 35px auto;
  table-layout: auto;
  color: #5C2610;
  /* color: #607584; */
}

a {
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  transition: .3s ease-in-out;
}

a {
  background-image: linear-gradient(#EE5E4F 50%, #EE5E4F 50%), linear-gradient(silver 50%, silver 50%); 
  background-position: center bottom; 
  background-repeat: no-repeat; 
  background-size: 0 .063em, 100% .063em;
  color: #5C2610; 
  padding-bottom: .188em; 
  transition: background-size .5s;
}
a:hover {
  background-size: 100% .063em, 100% .063em; 
  background-position: left bottom;
}

.red {
  background: #A61C00;
  color: #A61C00;
}

.green {
  background: #80A86F;
  color: #80A86F;
}

.yellow {
  background: #E2C271;
  color: #E2C271;
}

.gray {
  background: #AAADAA;
  color: #AAADAA;
}

.pink {
  background: #EA9999;
  color: #EA9999;
}

.white {
  background: white;
  padding: 0 10px 0 0; 
}

.tasks-mame {
  width: 20vw;
}